@charset "utf-8";
/* CSS Document */
/* reset */
body,
ul,
ol,
img,
p,
h1,
h2,
h3,
h4,
dl,
dd,
form,
input,
textarea,
select,
fieldset {
	padding: 0; 
	margin: 0; 
	font-size: 12px;
	font-family: "微软雅黑",Arial, Helvetica, sans-serif; 
}

li { 
	list-style: none;
}

img,
input { 
	border: 0 none;
	outline: 0 none; 
}

a {
	text-decoration: none; 
}

strong {
	font-weight: normal;
}

/* end reset */

/* public */
.clear {
	zoom: 1; 
}
.clear:after { 
	content: ''; 
	display: block; 
	clear: both; 
}
.wrap {
	width: 980px;
	margin: 0 auto;
}
/* end public */

/* layout */
#header {
	width: 100%;
	height: 90px;
	background: #2e2e2e;
}
#banner {
	position: relative;
	min-width: 1000px;
	height: 500px;
	overflow: hidden;
}
#show {
	height: 400px;
	padding-top: 16px;
	background: #f2f2f2;
}
#content {
	padding: 60px 0;
}
#content .main {
	float: left;
}
#content .con_wrap,
#content dl,
#content .side {
	width: 480px;
}
#content .side .box {
	width: 500px;
	padding-bottom: 22px;
}
#content .con_wrap,
#content .side_wrap {
	height: 142px;
}
#content dl {
	height: 236px;
}
#content .side {
	float: right;
}
#content .side_wrap {
	float: left;
	width: 230px;
	margin-right: 20px;
	overflow: hidden;
}
#footer {
	height: 90px;
	padding: 30px 0;
	background: #282828;
}
/* end layout */

/* header */
#header h1 {
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 90px;
}
#header h1 a {
	color: #ffffff;
}
#header .nav {
	top: 20px;
	float: right;
	height: 50px;
	line-height: 50px;
	z-index: 1;
}
#header .nav > li {
	position: relative;
	top: 20px;
	float: left;
	font-size: 14px;
	z-index: 1;
}
#header .nav > li a {
	display: inline-block;
	padding: 0 15px;
	color: #ccc;
}
#header .nav li ul {
	position: absolute;
	top: 50px;
	left: 0;
	display: none;
	white-space: nowrap;
}
#header .nav li li {
	line-height: 33px;
	background: #000;
}
#header .nav li li a {
	display: block;
	padding: 0 30px;
	background: url(../images/ico/bullet_black.png) no-repeat 11px 8px;
}
#header .nav li li a:hover {
	color: #fff;
	background: #2e2e2e url(../images/ico/bullet_white.png) no-repeat 11px 8px;
}
/* end header */

/* banner */
#banner ul {
	position: relative;
}
#banner li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#banner li img {
	position: relative;
}
#banner .bar {
	width: 100%;
	position: absolute;
	bottom: 46px;
	text-align: center;
}
#banner .bar img {
	width: 90px;
	height: 40px;
	border: 1px solid #eee;
	cursor: pointer;
}
/* end banner */

/* show */
#show h1 {
	position: relative;
	top: -29px;
	width: 222px;
	height: 28px;
	margin: 0 auto;
	line-height: 28px;
	text-align: center;
	border: 1px solid #d8d8d8;
	border-radius: 14px;
	background:-moz-linear-gradient(top, #FFFFFF, #e6e6e6);
	background:-webkit-linear-gradient(top, #FFFFFF, #e6e6e6);
	background:-ms-linear-gradient(top, #FFFFFF, #e6e6e6);
	background:linear-gradient(top, #FFFFFF, #e6e6e6);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#e6e6e6)";
	+background:#e6e6e6;
}
#show li {
	float: left;
	overflow: hidden;
	width: 225px;
	height: 305px;
	margin: 10px;
	text-align: center;
	background: #fff; 
	position: relative;
	top: 0;
	-webkit-transition: top .3s ease-out;
    -moz-transition: top .3s ease-out;
    -o-transition: top .3s ease-out;
    transition: top .3s ease-out;
}
#show li:hover {
	top: -6px;
}
#show li a {
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #747474;
}
#show li a:hover {
	color: #000;
}
/* end show */

/* content */
#content .con_wrap h1,
#content dl dt,
#content .side_wrap h1 {
	font-size: 18px;
	font-weight: normal;
	color: #40aac0;
}
#content .con_wrap h1,
#content .side_wrap h1 {
	padding-bottom: 22px;
}
#content dl dt {
	padding: 22px 0;
}
#content .con_wrap p,
#content dl dd,
#content .side_wrap p {
	line-height: 24px;
}
#content dl dd a {
	padding-left: 20px;
	color: #666;
	background: url(../images/ico/bullet_orange.png) no-repeat;
}
#content dl dd a:hover {
	color: #000;
}
/* end content */

/* news */
#news_con {
	padding: 22px 0;
}
#news_con .main {
	float: left;
	width: 700px;
}
#news_con .main p {
	font-size: 14px;
	color: #B95323;
	word-spacing: 5px;
}
#news_con .main p a {
	color: #4188AF;
}
#news_con .main h1 {
	padding: 30px 0 20px 0;
	font-size: 20px;
}
#news_con .main span {
	font-size: 14px;
	color: #333;
}
#news_con .main .content {
	margin-top: 22px;
	padding-top: 22px;
	border-top: 1px dotted #ddd;
}
#news_con .main .content p {
	padding-bottom: 26px;
	line-height: 24px;
	color: #333;
}
#news_con .side {
	float: right;
	width: 226px;
}
#news_con .side dl,
#news_con .side .side_wrap  {
	padding-bottom: 20px;
}
#news_con .side dt,
#news_con .side h1 {
	height: 34px;
	padding-left: 18px;
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	color: #4B4B4B;
	background: #e5e4e1;
}
#news_con .side a,
#news_con .side dd a,
#news_con .side p {
	display: block;
	height: 34px;
	font-size: 14px;
	color: #555;
}
#news_con .side dd a {
	padding-left: 30px;
	line-height: 34px;
	border-bottom: 1px dotted #ddd;
	background: url(../images/ico/bullet_white.png) no-repeat 9px center;
}
#news_con .side h1 {
	margin-bottom: 10px;
}
#news_con .side a,
#news_con .side p {
	padding-left: 16px;
	line-height: 28px;
}
#news_con .side dd a:hover {
	color: #000;
	background: url(../images/ico/bullet_black.png) no-repeat 9px center;
}
#news_con .side a:hover {
	color: #000;
}
/* end news */

/* pro_show */
#pro_show {
	background: #f7f7f7;
}
#pro_show .show {
	padding: 36px 0 58px 0;
}
#pro_show .bar {
	width: 100%;
	height: 26px;
	text-align: center;
}
#pro_show .bar a {
	display: inline-block;
	overflow: hidden;
	margin-right: 6px;
	padding: 0 16px;
	line-height: 26px;
	font-weight: bold;
	color: #fff;
	background: #40aac0;
	border-radius: 14px;
}
#pro_show .bar a:hover {
	background: #444;
}
#pro_show ul {
	padding-top: 34px;
}
#pro_show li {
	float: left;
	width: 224px;
	height: 288px;
	margin: 0 10px 20px 10px;
	text-align: center;
	position: relative;
	top: 0;
	-webkit-transition: top .3s ease-out;
    -moz-transition: top .3s ease-out;
    -o-transition: top .3s ease-out;
    transition: top .3s ease-out;
}
#pro_show li:hover {
	top: -6px;
}
#pro_show li p {
	font-size: 14px;
	margin-top: 30px;
}
/* end pro_show */